@using saan_market.Models
@{
    ViewBag.Title = "تعریف محصول جدید";
    
    var colorsList = new List<SelectListItem>
        {
          new SelectListItem { Text = "آبی", Value="blue" },
          new SelectListItem { Text = "نارنجی", Value="orange" },
          new SelectListItem { Text = "مشکی", Value="black" },
          new SelectListItem { Text = "قرمز", Value="red" },
          new SelectListItem { Text = "سبز", Value="green" },
          new SelectListItem { Text = "زرد", Value="yellow" }
        };
    Layout = "~/Views/Shared/_NoHeaderFooterLayout.cshtml";
    
}

    @model ProductModel

        <div class="master-wrapper">

    <br>
    <br>
    <br>

    <!--  ==========  -->
    <!--  = Main container =  -->
    <!--  ==========  -->
    <div class="container">
        <div class="push-up top-equal blocks-spacer">

            <!--  ==========  -->
            <!--  = Product =  -->
            <!--  ==========  -->
            <div class="row blocks-spacer">

                <!--  ==========  -->
                <!--  = Preview Images =  -->
                <!--  ==========  -->
                <div class="span5">
                    <div class="product-preview">
                        <div class="picture">
                            <img src="~/Content/images/dummy/products/shirt-1.jpg" alt="" width="940" height="940" id="mainPreviewImg" />
                        </div>
                        <div class="thumbs clearfix">
                            <div class="thumb active">
                                <a href="#mainPreviewImg"><img src="~/Content/images/dummy/products/shirt-1.jpg" alt="" width="940" height="940" /></a>
                            </div>
                            <div class="thumb">
                                <a href="#mainPreviewImg"><img src="~/Content/images/dummy/products/shirt-2.jpg" alt="" width="940" height="940" /></a>
                            </div>
                            <div class="thumb">
                                <a href="#mainPreviewImg"><img src="~/Content/images/dummy/products/shirt-3.jpg" alt="" width="940" height="940" /></a>
                            </div>
                        </div>

                    </div>
                </div>

                <!--  ==========  -->
                <!--  = Title and short desc =  -->
                <!--  ==========  -->
                <div class="span7">
                    <div class="product-description">
                        @using (Html.BeginForm("DefineProduct", "Product", FormMethod.Post, new { @class = "form form-inline clearfix" }))
                        {
                            <div class="product-title">
                                @Html.TextBoxFor(m => m.name, new { @placeholder = "عنوان محصول" })
                                @Html.ValidationMessageFor( m => m.name, "", new { @style="color:red" })
                                <br>
                                <br>

                                <div class="meta">
                                    @Html.TextBoxFor(m => m.price, new { @type = "number", @placeholder = "قیمت به تومان"})
                                    @Html.ValidationMessageFor(m => m.price, "", new { @style = "color:red" })
                                </div>
                            </div>

                            @Html.TextAreaFor(m => m.descriptionSummury, new { @placeholder = "خلاصه ای از شرح محصول بنویسید"})
                            @Html.ValidationMessageFor(m => m.descriptionSummury, "", new { @style="color:red" })
                            <hr />
                            
                            <div>
                                @Html.RadioButtonFor(m => m.kind, 1, new { @checked = "checked"}) موبایل
                                <br />
                                @Html.RadioButtonFor(m => m.kind, 2) تبلت
                            </div>
                            <br />
                            <div class="numbered">
                                @Html.TextBoxFor(m => m.available, new { @class="tiny-size", @Value="1" , @name="num" })
                                <span class="clickable add-one icon-plus-sign-alt"></span>
                                <span class="clickable remove-one icon-minus-sign-alt"></span>
                            </div>
                            @:&nbsp;
                            @Html.DropDownListFor(m => m.color, colorsList, "انتخاب رنگ", new { @class="span2", @name="color", @id="color"} )
                            @Html.ValidationMessageFor(m => m.color, "", new { @style="color:red"})
                            <hr />
                            <!--  ==========  -->
                            <!--  = Tabs with more info =  -->
                            <!--  ==========  -->
                            <div class="row">
                                <div class="span7">
                                    <ul id="myTab" class="nav nav-tabs">
                                        <li class="active">
                                            <a href="#tab-1" data-toggle="tab">جزئیات</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="fade in tab-pane active" id="tab-1">
                                            <h3>توضیحات فنی محصول</h3>
                                            @Html.TextAreaFor(m => m.technicalDescription, new { @style="width:90%;", @rows="10", @placeholder= "مشخصات فنی محصول را در اینجا بنویسید" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input type="submit" class="btn btn-primary btn-large bold" value="ثبت">
                        }    
                    </div>
                </div>
            </div>

        </div>
    </div> <!-- /container -->
</div>