
@{
    ViewBag.Title = "نمایش محصول";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@model List<saan_market.Models.Product>
<br />
<br />
 <!--  ==========  -->
<!--  = Main container =  -->
<!--  ==========  -->
<div class="container">
    <div class="push-up top-equal blocks-spacer">

        <!--  ==========  -->
        <!--  = Product =  -->
        <!--  ==========  -->
        <div class="row blocks-spacer">

            <!--  ==========  -->
            <!--  = Preview Images =  -->
            <!--  ==========  -->
            <div class="span5">
                <div class="product-preview">
                    <div class="picture">
@if (Model.ElementAt(0).Pictures.Count > 0)
{

                        <img src="@Url.Content(Model.ElementAt(0).Pictures.ElementAt(0).path.Replace(Request.ServerVariables["APPL_PHYSICAL_PATH"], "~/").Replace(@"\", "/"))" alt="" width="940" height="940" id="mainPreviewImg" />
}
else
{
    <img width="540" height="374" alt="" src="~/Content/images/placeholder.png" />

}
                                        </div>
                   
                    <div class="thumbs clearfix">
                        <div class="thumb active">
@if (Model.ElementAt(0).Pictures.Count > 0)
{
                            <a href="#mainPreviewImg"><img src="@Url.Content(Model.ElementAt(0).Pictures.ElementAt(0).path.Replace(Request.ServerVariables["APPL_PHYSICAL_PATH"], "~/").Replace(@"\", "/")))" alt="" width="940" height="940" /></a>
}
else
{
    <img width="540" height="374" alt="" src="~/Content/images/placeholder.png" />

}
                        </div>
                        <div class="thumb">
 @if (Model.ElementAt(0).Pictures.Count > 0)
 {
                           <a href="#mainPreviewImg"><img src="@Url.Content(Model.ElementAt(0).Pictures.ElementAt(1).path.Replace(Request.ServerVariables["APPL_PHYSICAL_PATH"], "~/").Replace(@"\", "/")))" alt="" width="940" height="940" /></a>
 }
 else
 {
    <img width="540" height="374" alt="" src="~/Content/images/placeholder.png" />

 }
                        </div>
                        <div class="thumb">
  @if (Model.ElementAt(0).Pictures.Count > 1)
  {
                          <a href="#mainPreviewImg"><img src="@Url.Content(Model.ElementAt(0).Pictures.ElementAt(2).path.Replace(Request.ServerVariables["APPL_PHYSICAL_PATH"], "~/").Replace(@"\", "/")))" alt="" width="940" height="940" /></a>
  }
  else
  {
    <img width="540" height="374" alt="" src="~/Content/images/placeholder.png" />

  }

                                                </div>
                    </div>
                </div>
            </div>

            <!--  ==========  -->
            <!--  = Title and short desc =  -->
            <!--  ==========  -->
            


            <div class="span7">
                <div class="product-title">
                    <h1 class="name">
                    <span class="light">
                        @Html.DisplayFor(m => m.ElementAt(0).name)

                        
                        </span>
                    
                    </h1>
                    <div class="meta">
                        <span class="tag">
                            @Html.DisplayFor(m => m.ElementAt(0).price)

                        </span>
                        <span class="stock">
                            @if (Model.ElementAt(0).available > 0)
                            {
                                <span class="btn btn-success">موجود</span>
                            }
                            else
                            {
                                <span class="btn btn-danger">اتمام موجودی</span>
                                <span class="btn btn-warning">تماس بگیرید</span>
                            }
                        </span>
                    </div>
                </div>
                <div class="product-description">
                    <p>

                        @Html.DisplayFor(m => m.ElementAt(0).descriptionSummury)

                    </p>
                    <hr />

                    <!--  ==========  -->
                    <!--  = Add to cart form =  -->
                    <!--  ==========  -->
                    <form action="#" class="form form-inline clearfix">
                        <div class="numbered">
                            <input type="text" name="num" value="1" class="tiny-size" />
                            <span class="clickable add-one icon-plus-sign-alt"></span>
                            <span class="clickable remove-one icon-minus-sign-alt"></span>
                        </div>
                        &nbsp;
                        <select name="color" class="span2">
                            <option value="-1">انتخاب رنگ</option>
                            <option value="blue">آبی</option>
                            <option value="orange">نارنجی</option>
                            <option value="black">مشکی</option>
                        </select>
                        &nbsp;
                        <button class="btn btn-danger pull-right" onclick="showingProduct()"><i class="icon-shopping-cart"></i> افزودن به سبد خرید</button>
                    </form>

                    <hr />

                </div>
            </div>
        </div>

        <!--  ==========  -->
        <!--  = Tabs with more info =  -->
        <!--  ==========  -->
        <div class="row">
            <div class="span12">
                <ul id="myTab" class="nav nav-tabs">
                    <li class="active">
                        <a href="#tab-1" data-toggle="tab">جزئیات</a>
                    </li>
                    <li>
                        <a href="#tab-2" data-toggle="tab">نظرات</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="fade in tab-pane active" id="tab-1">
                        <h3>توضیحات محصول</h3>
                  <p>
                      @Html.DisplayFor(m => m.ElementAt(0).technicalDescription)


                  </p>
                      </div>
                    <div class="fade tab-pane" id="tab-2">
                        <p>
                            لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است. صنعت چاپ زمانی لازم بود شرایطی شما باید فکر ثبت نام و طراحی، لازمه خروج می باشد. در ضمن قاعده همفکری ها جوابگوی سئوالات زیاد شاید باشد، آنچنان که لازم بود طراحی گرافیکی خوب بود. کتابهای زیادی شرایط سخت ، دشوار و کمی در سالهای دور لازم است. هدف از این نسخه فرهنگ پس از آن و دستاوردهای خوب شاید باشد. حروفچینی لازم در شرایط فعلی لازمه تکنولوژی بود که گذشته، حال و آینده را شامل گردد. سی و پنج درصد از طراحان در قرن پانزدهم میبایست پرینتر در ستون و سطر حروف لازم است، بلکه شناخت این ابزار گاه اساسا بدون هدف بود و سئوالهای زیادی در گذشته بوجود می آید، تنها لازمه آن بود.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- /container -->
<!--  ==========  -->
<!--  = Related Products =  -->
<!--  ==========  -->
<div class="boxed-area no-bottom">
    <div class="container">

        <!--  ==========  -->
        <!--  = Title =  -->
        <!--  ==========  -->
        <div class="row">
            <div class="span12">
                <div class="main-titles lined">
                    <h2 class="title"><span class="light">محصولات</span> مرتبط</h2>
                </div>
            </div>
        </div>

        <!--  ==========  -->
        <!--  = Related products =  -->
        <!--  ==========  -->
        <div class="row popup-products">

            <!--  ==========  -->
            <!--  = Products =  -->
            <!--  ==========  -->
            @for (int i = 0; i < Model.Count(); i++)
            {
                var item = Model.ElementAt(i);
                <div class="span3">
                    <div class="product">
                        <div class="product-img">
                            <div class="picture">
                                @if (item.Pictures.Count > 0)
                                {
                                <img src="@Url.Content(item.Pictures.First().path.Replace(Request.ServerVariables["APPL_PHYSICAL_PATH"], "~/").Replace(@"\", "/"))" alt="" width="540" height="374" />
                                } else
                                {
                                <img width = "540" height = "374" alt = "" src = "~/Content/images/placeholder.png" />

                                }
                                <div class="img-overlay">
                                    @Html.ActionLink("توضیحات بیشتر", "DisplayProduct", "Product", new { productId = item.id }, new { @class = "btn more btn-primary" })
                                    <a href="#" class="btn buy btn-danger">اضافه به سبد خرید</a>
                                </div>
                            </div>
                        </div>
                        <div class="main-titles no-margin">
                            <h4 class="title"><span class="striked">@Html.DisplayFor(m => item.price) تومان</span> <span class="red-clr">80000 تومان</span></h4>
                            <h5 class="no-margin">@Html.DisplayFor(m => item.name)</h5>
                        </div>
                        <p class="desc">@Html.DisplayFor(m => item.descriptionSummury)</p>
                        <p class="center-align stars">
                            <span class="icon-star stars-clr"></span>
                            <span class="icon-star stars-clr"></span>
                            <span class="icon-star stars-clr"></span>
                            <span class="icon-star stars-clr"></span>
                            <span class="icon-star"></span>
                        </p>
                    </div>
                </div>
            }
            
            <!-- /product -->
            

        </div>
    </div>
</div>